<!DOCTYPE html>
html(lang="es")
  head
    include partials/header
  body
    header(class="barra") 
      h1 UpTask - Administrador de proyectos
      a(href="#") Cerrar Sesión
    main(class="contenedor")
      aside(class="contenedor-proyectos")
        .panel.crear-proyecto
          a(href="/new-proyect" class="boton") Nuevo Proye
            span + 
        .panel.lista-proyectos
          ul(id="proyectos" class="proyectos")
            
              each project in projects
                li 
                  a(href=`/projects/${project.url}`) #{project.name}
      block content
      //- pre #{vardump(projects)}
    script(src="/dist/bundle.js") 