<!DOCTYPE html>
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="css/normalize.css")
    link(rel="stylesheet", href="css/app.css")
    title UpTask
  body
    header(class="barra") 
      h1 UpTask - Administrador de proyectos
      a(href="#") Cerrar Sesión
    main(class="contenedor")
      aside(class="contenedor-proyectos")
        .panel.crear-proyecto
          a(href="/new-proyect" class="boton") Nuevo Proye
            span + 
        .panel.lista-proyectos
          ul(id="proyectos" class="proyectos")
            
              each project in projects
                li 
                  a(href="#") #{project.name}
      block content
      pre #{vardump(projects)}