extends layout

block content
  .contenido-principal
    h1 #{title}

    form(action="/new-proyect" method="POST" class="agregar-proyecto")
      .campo
        label(for="nombre") Nombre del proyecto
        input(type="text" id="nombre" name="nombre", placeholder="Nombre del proyecto")
      .campo.enviar
        input(type="submit", value="Agregar" class="boton")