doctype html
html(lang="en")
  head
    include partials/header
  body(class="login")
    .contenedor-formulario
      h1 Reestablecer contraseña
      p Agrega tu email para reestablecer la contraseña
      form(class="caja-login" method="POST" action="/recovery-password")
        .campo
          label(for="email") Email 
          input(type="email" name="email" placeholder="Ingresa tu correo") 
        .campo.enviar
          input(type="submit" value="Restablecer password" class="boton")
        .campo.acciones
          a(href="/login") Ya lo recorede, volver a login