extends layout

block content
  .contenido-principal
    h1 #{title} - #{detailProject.name}
    //- TODO formulario 
    //- TODO Listado pendeinte 

    .contenedor-acciones 
      a(href=`/projects/edit/${detailProject.id}` class="boton") Editar Proyecto 
      button(data-project-url=detailProject.url id="eliminar-proyecto" type="button" class="boton eliminar") Eliminar Proyecto 

