doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    style 
      include ./email.css
  body 
    h2 Reestablecer password 
    p Hola, has solicitado reestablecer tu password, haz click en el siguiente enlace temporal, así que si vence vuelve a solicitarlo 
    a(href=`${recovery_password}`) Ir a cambiar el password
    p si no puedes ir al enlace visita #{recovery_password}
    p si no solicitaste esto, ignoralo.
